<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-blogs.css">

        <title>Blogs et démos de programmation</title>
    </head>
 
    <body>
        <main class="mb-5">
            <div class="mainTitle text-center"> <a href="/"><i class="fas fa-arrow-left"></i></i></a> Blogs et démos de programmation </div>
            <div class="mainContainer px-3 px-md-0 mx-md-5">
                <div class="textContent">
                    <div class="title py-4 text-center"> Bonjour tout le monde !</div>
                    <p> Ici j'hebergerai toutes sortes de blogs/pages explicatives sur differents aspects ou techniques de programmation. Les contours de ce que je compte faire ne sont pas encore bien définis mais ça sera orienté sur une vulgarisation plus qu'une explication détaillée. Ainsi, tout le monde peut suivre sans avoir besoin de réelles notions de programmation ou de maths ! Si toutefois vous souhaitez en savoir plus, je vous invite à aller sur mes sources que j'indiquerai en lien de mes articles.</p>
                    <p> Je mettrai également en parallèle aux articles des démos techniques qui illustreront les concept présentés. Là encore une courte explication de leur fonctionnement sera fournie (je n'entrerai pas non plus trop dans le détail) et je mettrai également le lien du code source si vous souhaitez réellement lire le code derrière pour potentiellement le refaire chez vous.</p>

                    <div class="title py-4"> Intelligence artificielle </div>
                    <div class="blog-section justify-content-around justify-content-md-start">
                        <div class="blog-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips">
                                <i class="fas fa-book mr-2"></i>
                                <span class="tooltiptext">Article</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/blogs/pathfinding1">
                                    <img class="w-100" src="/img/pathfinding.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="text-center">
                                    <a class="w-100" href="/blogs/pathfinding1">Pathfinding: Introduction</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="title py-4"> Génération procédurale</div>
                    <div class="blog-section justify-content-around justify-content-md-start">
                        <div class="blog-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips">
                                <i class="fas fa-book mr-2"></i>
                                <span class="tooltiptext">Article</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/blogs/noise">
                                    <img class="w-100" src="/img/noise.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="text-center">
                                    <a class="w-100" href="/blogs/noise">Les fonction "Bruit" et leurs applications</a>
                                </div>
                            </div>
                        </div>
                        <div class="demo-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips">
                                <i class="fas fa-microchip mr-2"></i>
                                <span class="tooltiptext">Démo</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/demo/map_generator">
                                    <img class="w-100" src="/img/map.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="container text-center">
                                    <a class="w-100" href="/demo/map_generator"> Générateur de carte</a>
                                </div>
                            </div>
                        </div>
                        <div class="demo-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips grey">
                                <i class="fas fa-microchip mr-2"></i>
                                <span class="tooltiptext">Démo</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/demo/marbles">
                                    <img class="w-100" src="/img/marbles.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="container text-center">
                                    <a class="w-100" href="/demo/marbles"> Nuée de billes</a>
                                </div>
                            </div>
                        </div>
                        <div class="demo-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips">
                                <i class="fas fa-microchip mr-2"></i>
                                <span class="tooltiptext">Démo</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/demo/clouds">
                                    <img class="w-100" src="/img/clouds.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="container text-center">
                                    <a class="w-100" href="/demo/clouds"> Nuages dynamiques</a>
                                </div>
                            </div>
                        </div>
                        <div class="demo-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips grey">
                                <i class="fas fa-microchip mr-2"></i>
                                <span class="tooltiptext">Démo</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/demo/waves">
                                    <img class="w-100" src="/img/waves.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="container text-center">
                                    <a class="w-100" href="/demo/waves"> Vagues Wireframe </a>
                                </div>
                            </div>
                        </div>
                        <div class="demo-box shadow rounded mr-md-4 mb-4">
                            <div class="tooltips grey">
                                <i class="fas fa-microchip mr-2"></i>
                                <span class="tooltiptext">Démo</span>
                            </div>
                            <div class="link-img text-center">
                                <a class="link-img" href="/demo/blob">
                                    <img class="w-100" src="/img/blob.png">
                                </a>
                            </div>
                            <div class="link-name p-2">
                                <div class="container text-center">
                                    <a class="w-100" href="/demo/blob"> Blob </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <!-- Import JS Bootstrap dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/kchapelier/poisson-disk-sampling@2.2.2/build/poisson-disk-sampling.min.js"></script>
    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>
</html>