<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-main.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Backstage - Commuz'</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <div class="background backstage"></div>
            <a href="/" class="link-tab"> < Retour</a>
            <div class="header container">
                <div class="row align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <span class="head-title">Backstage</span>
                        </div> 
                        <div class="row justify-content-center">
                            <span class="head-subtitle">Spectacle 2024</span>
                        </div> 
                        <!-- <div class="row justify-content-center mt-4">
                            <a href="https://ffm.to/mxeonqq" target="_blank" class="btn btn-cart mr-md-3 mr-2" role="button" name="add-cart"><i class="fab fa-youtube pr-md-2"></i> Regarder</a>
                            <a href="https://ffm.to/mxeonqq" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-2"></i> Écouter </a>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-0">
                    <div class="col-md-4 p-0">
                        <img class="d-block w-100" src="/img/backstage/affiche2.jpg">
                    </div>
                    <div class="album-desc col-md-8 pt-4 pr-md-5 pl-md-5" style="background-image: linear-gradient(70deg, rgb(0, 0, 0, 1), rgb(0, 0, 0, 0));">
                        <div class="row m-0">
                            <span class="title">À propos de Backstage ...</span>
                        </div>
                        <div class="album-about row m-0 pt-2">
                            <p>Hollywood, 1964.</p>

                            <p>Le Highlight Show, le talk show le plus populaire des Etats-Unis, est au sommet de sa gloire. Mais au cours d’une énième émission, son host Alec Keaton décide subitement de prendre sa retraite. Face à l’urgence de la situation, la productrice Norma Desmond mettra tout en œuvre pour assurer le maintien de l’émission.</p>

                            <p>Mais c’est sans compter le désir de vengeance de son ex-mari Paul, prêt à tout pour détruire le Highlight, et les machinations du “Réseau”, une mystérieuse organisation qui risque bien de révéler au grand jour les secrets les plus intimes de nos héros.</p>

                            <p>Derrière les paillettes, Backstage explore les coulisses du showbusiness, entre amours, passions et ambitions.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row m-0 mt-md-5">
                    <div class="album-desc col pt-2 pr-md-3 pl-md-3" style="background-image: linear-gradient(70deg,#90404d,#bb5968);">
                        <div class="row m-0">
                            <span class="title">Lorem Ipsum</span>
                        </div>
                        <div class="album-about row m-0 pt-2">
                             <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc nec aliquet mauris. Mauris sodales pretium turpis vitae pharetra. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus eu ante ultrices, scelerisque mauris sit amet, varius nibh. Nulla sit amet sapien sed felis dictum facilisis sed eget urna. Etiam vitae elit leo. Nam quis ante finibus, porta nisl at, vulputate ipsum. Maecenas eleifend lectus sem, sit amet accumsan nisi auctor eget.</p>

                            <p>Sed aliquam ex et faucibus lacinia. Suspendisse leo est, congue vel nulla et, dictum rutrum ante. Aenean maximus, velit vel sollicitudin molestie, est urna imperdiet augue, convallis convallis nisl massa sit amet sapien. Nam commodo dui vel turpis tempus, sit amet malesuada velit porttitor. Proin sed lacus efficitur eros commodo pellentesque. Praesent in nulla nec tellus venenatis faucibus. Maecenas in suscipit libero, in varius nulla. Nulla sem tortor, venenatis at neque in, ullamcorper gravida purus. Phasellus pellentesque quis lorem ullamcorper ornare. Nunc blandit ante diam, ac vehicula magna tristique id.</p>

                            <p>Aliquam vel viverra velit. Nunc viverra metus in porttitor vulputate. Praesent consequat imperdiet nulla vel condimentum. Sed lacinia dictum lectus, ac laoreet magna dapibus ut. Maecenas vestibulum iaculis consequat. Vivamus turpis odio, scelerisque ut scelerisque quis, bibendum nec tellus. Suspendisse id nibh neque. Proin mauris tellus, commodo sed euismod ut, tempus ac nisi. Nullam quis nunc vitae elit rutrum convallis non elementum nisl. Integer commodo dignissim pellentesque. Sed finibus vehicula dolor, et feugiat nisl pretium porttitor. Aenean fringilla erat in aliquet eleifend. </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row m-0 mt-4">
<!--                     <div class="col-md-5 p-0">
                        <div class="row m-0">
                            <span class="title">Écouter l'album</span>
                        </div>
                        <div class="row m-0 pt-2">
                            Pas encore disponible ...
                        </div>
                    </div> -->
                    <div class="album-desc col-md-7 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">Regarder le teaser !</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <iframe width="600" height="370" src="https://www.youtube.com/embed/cxJJHY5vGNk"></iframe>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <div class="row m-0">
                    <div class="col p-0">
                        <div class="row m-0">
                            <span class="title">Galerie photo</span>
                        </div>
                    </div>
                </div>
                <div class="row m-0">
                    <div class="gallery col p-0">
                        <div class="row m-0">
                            <% for (var i=0; i < gallery.length; i++) { %>
                                <div class="col-4 col-md-2 p-2" data-toggle="modal" data-target="#galleryModal" data-i="<%= i %>">
                                    <img class="d-block w-100" src="/img/backstage/gallery/<%= gallery[i] %>">
                                </div>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="footer"></div>

            <!-- ==================================== MODAL =================================== -->

            <div class="modal fade gallery" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                            
                            <div class="row m-0">
                                <div class="carousel-container d-flex">
                                    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                        <% for (var i=0; i < gallery.length; i++) { %>
                                            <div class="carousel-item <% if (!i) { %> active <% } %>">
                                                <img class="d-block w-100" src="/img/backstage/gallery/<%= gallery[i] %>">
                                            </div>
                                        <% } %>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <script type="text/javascript">
        // On gère les carousels
        $('div[data-target="#galleryModal"]').on('click', function (data) {
            $(`#carouselGallery .carousel-item`).removeClass('active');
            let i = parseInt($(data.currentTarget).attr('data-i'));
            console.log(`#carouselGallery .carousel-item:nth-child(${i+1})`);
            $(`#carouselGallery .carousel-item:nth-child(${i+1})`).addClass('active');
        })
    </script>
</html>