h1 {
    text-align: center;
}

body {
    background: #fbfbfb;
    color: black;
}

.mainTitle {
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;

    background-color: #72a7b8;
    color: white;
    text-shadow: 2px 2px 5px gray;

    /* padding pour le logo */
    padding: 24px;
    padding-left: 60px;
}
.mainTitle a {
    color: white;
}
.mainTitle i {
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 30px;
}

.blog-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.blog-box, .demo-box {
    position: relative;
    width: 200px;
    overflow: hidden;
}
.blog-box .link-name a, .demo-box .link-name a {
    color: black;
    font-size: 18px;
    font-weight: 600;
}

.demo-link, .img-gallery {
    display: flex;
    justify-content: space-around;
}
.link-img {
    overflow: hidden;
}
.link-img img {
    transition: 0.3s;
}
.link-img img:hover {
    transform:  scale(1.05);
}

.title {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}
.subtitle {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.canvasContainer canvas {
    background: white;
    padding: 0;
    margin: 0 auto;
    margin-bottom: 1rem;
    display: block;
}

.mainContainer {
    display: flex;
    justify-content: center;

    /*width: 700px;*/
    /*margin: auto;*/

    font-size: 17px;
    line-height: 27px;
}

.canvasContainer {
    position: relative;
}

.textContent p {
    text-align: justify;
}

.demoContent {
    display: flex;
    justify-content: center;
}

/* ================= Slider =========== */

.slideContainer {
    display: flex;
    flex-direction: column;
}
.slideContainer span.title {
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}
.slideContainer span.subtitle {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.slideContainer span.displayValue {
    color: grey;
    font-weight: 400;
}

.slideContainer.pathfinding {
    align-items: center;
}
.slideContainer.pathfinding input.slider {
    width: 500px;
}
/* MOBILE FULLSCREEN */
@media (max-width: 768px) {
    .slideContainer.pathfinding input.slider {
        width: 100%;
    }
}

button {
    text-transform: uppercase;
    font-size: 12px;
    width: 200px;
}

.toc ul {
    line-height: 35px;
    list-style: decimal;
}

/* ================= Fullscreen =========== */

/* canvas principal */
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
}
/* slider box */
.fullscreen.slideContainer {
    position: fixed;
    left: auto;
    top: 20px;
    right: 20px;
}
/* navbuttons box */
.fullscreen.navbuttonContainer {
    position: fixed;
    bottom: 80px;
    left: auto;
    top: auto;
}
/* param box */
.fullscreen.paramContainer {
    display: flex;
    flex-direction: column;
    font: 400 0.95rem 'Courier New', monospace;
    text-transform: lowercase;

    position: fixed;
    left: auto;
    top: 30px;
    right: 50px;
}
.fullscreen.instructionContainer {
    font: 400 0.95rem 'Courier New', monospace;
    text-transform: lowercase;

    position: fixed;
    left: 30px;
    top: 30px;
    right: auto;
}
.fullscreen#autoParam {
    font: 400 0.95rem 'Courier New', monospace;
    text-transform: lowercase;

    position: fixed;
    left: 30px;
    top: 80px;
    right: auto;
}
.fullscreen.fullscreen-button {
    position: fixed;
    left: 20px;
    top: 20px;
    right: auto;
}
.fullscreen.fpsCounter {
    font: 400 0.95rem 'Courier New', monospace;
    text-transform: lowercase;

    position: fixed;
    left: 30px;
    top: 30px;
    right: auto;
}
/* MOBILE FULLSCREEN */
@media (max-width: 768px) {
    .fullscreen.slideContainer {
        display: none;
    }
    .fullscreen.navbuttonContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        bottom: 50px;
    }
    .fullscreen#autoParam {
        width: 130px;
        left: 30px;
        top: 35px;
        right: auto;
    }
}

/* ================= Tooltip ============== */

.tooltips {
    position: absolute;
    display: inline-block;
    cursor: pointer;

    z-index: 1;
    top: 10px;
    left: 10px;

    font-size: 25px;
    color: #fbfbfb;
}
.tooltips.grey {
    color: grey;
}

.fullscreen-button {
    position: absolute;
    display: inline-block;
    cursor: pointer;

    color: grey;

    z-index: 1;
    top: 20px;
    left: 20px;
}
.fullscreen-button i {
    transition: 0.3s;
}
.fullscreen-button i:hover {
    transform:  scale(1.2);
}

/* Tooltip text */
.tooltips .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: grey;

    color: white;
    font-size: 15px;
    font-weight: 600;

    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltips:hover .tooltiptext {
    visibility: visible;
}

/* ================= spinner ============== */

.loader-container {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-color: rgb(255, 255, 255, 0.5);
}

.loader {
  border: 3px solid rgb(255, 255, 255, 0);
  border-radius: 50%;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  width: 20px;
  height: 20px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}