<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">-->
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-music.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Armel Rouxel</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <a href="/" class="link-tab"> < Page principale</a>
            <a href="/music/demo" class="link-tab" style="left: auto; right: 30px;"> Démos ></a>
            <div class="background mainpage"></div>
            <div class="mainpage-menu container">
                <div class="row w-100 m-0" id="main">
                    <div class="container" style="z-index:1;">
                        <div class="row justify-content-center">
                            <!--<span class="head-title">Quiet Kid</span>-->
                            <img style="width: 250px;" src="/img/logo_qk.png">
                        </div>
                        <div class="row justify-content-center mt-5">
                            <a href="https://ffm.to/mxeonqq" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-2"></i> Écouter</a>
                            <a href="/music/quiet_kid" class="btn btn-cart ml-3" role="button" name="add-cart"><i class="fas fa-search pr-2"></i> En savoir plus</a>
                        </div>   
                    </div>
                    <a class="arrow-down" href="#heartbeat"><i class="fas fa-angle-down"></i></a>
                </div>
            </div>
            <div class="mainpage-grid container">
                <div class="row m-0" id="heartbeat">
                    <a class="arrow-up d-md-block d-none" href="#main"><i class="fas fa-angle-up"></i></a>
                    <a class="arrow-down d-md-block d-none" href="#quietKid"><i class="fas fa-angle-down"></i></a>
                    <div class="container col-12 col-md p-0">
                        <div class="row m-0">
                            <div class="col p-2" data-toggle="modal" data-target="#heartbeatModal">
                                <img class="d-block w-100" src="/img/demo/cover-heartbeat.png">
                            </div>
                        </div>
                    </div>
                    <div class="container col p-0">
                        <div class="row m-0">
                            <div class="col-6 p-2">
                                <a href="#heartbeat">
                                    <img class="d-block w-100" src="/img/demo/tracklist.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0" id="quietKid">
                    <a class="arrow-up d-md-block d-none" href="#heartbeat"><i class="fas fa-angle-up"></i></a>
                    <a class="arrow-down d-md-block d-none" href="#anotherLightOut"><i class="fas fa-angle-down"></i></a>
                    <div class="container col-12 col-md p-0">
                        <div class="row m-0">
                            <div class="col p-2" data-toggle="modal" data-target="#quietKidModal">
                                <img class="d-block w-100" src="/img/quiet_kid/cover.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="container col p-0">
                        <div class="row m-0">
                            <div class="col p-2">
                                <iframe class="d-md-block d-none" width="550" height="240" src="https://www.youtube.com/embed/t8In7FbQWgQ"></iframe>
                                <iframe class="d-md-none d-block" width="330" height="200" src="https://www.youtube.com/embed/t8In7FbQWgQ"></iframe>
                            </div>
                            <div class="col-6 p-2">
                                <a href="/music/makingof_quiet_kid">
                                    <img class="d-block w-100" src="/img/quiet_kid/tracklist.jpg">
                                </a>
                            </div>
                            <div class="col-6 p-2" data-toggle="modal" data-target="#galleryQKModal">
                                <img class="d-block w-100" src="/img/quiet_kid/IMG_7213.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0" id="anotherLightOut">
                    <a class="arrow-up d-md-block d-none" href="#quietKid"><i class="fas fa-angle-up"></i></a>
                    <a class="arrow-down d-md-block d-none" href="#reachThatLight"><i class="fas fa-angle-down"></i></a>
                    <div class="container col p-0">
                        <div class="row m-0">
                            <div class="col-6 p-2 d-none d-md-block">
                            </div>
                            <div class="col-6 p-2" data-toggle="modal" data-target="#galleryALOModal">
                                <img class="d-block w-100" src="/img/another_light_out/IMG_6547.jpg">
                            </div>
                            <div class="col-6 p-2 d-none d-md-block">
                            </div>
                            <div class="col-6 p-2">
                                <a href="/music/makingof_reach_that_light_out">
                                    <img class="d-block w-100" src="/img/another_light_out/tracklist.jpg">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="container col p-0">
                        <div class="row m-0">
                            <div class="col p-2" data-toggle="modal" data-target="#lightOutModal">
                                <img class="d-block w-100" src="/img/another_light_out/cover.jpg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row m-0" id="reachThatLight">
                    <a class="arrow-up d-md-block d-none" href="#anotherLightOut"><i class="fas fa-angle-up"></i></a>
                    <div class="container col p-0">
                        <div class="row m-0">
                            <div class="col p-2" data-toggle="modal" data-target="#reachThatLightModal">
                                <img class="d-block w-100" src="/img/reach_that_light/cover.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="container col p-0">
                        <div class="row m-0">
                            <div class="col-6 p-2" data-toggle="modal" data-target="#wandererModal">
                                <img class="d-block w-100" src="/img/reach_that_light/cover-wanderer.jpg">
                            </div>
                            <div class="col-6 p- d-none d-md-block">
                            </div>
                            <div class="col-6 p-2">
                                <a href="/music/makingof_reach_that_light_out">
                                    <img class="d-block w-100" src="/img/reach_that_light/tracklist.jpg">
                                </a>
                            </div>
                            <div class="col-6 p-2 d-none d-md-block">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- ==================================== ALBUM MODAL ======================================== -->

            <div class="modal fade album-detail" id="heartbeatModal" tabindex="-1" role="dialog" aria-labelledby="heartbeatLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row m-0">
                                <div class="col-12 col-md p-0">
                                    <img class="d-block w-100" src="/img/demo/cover-heartbeat.png">
                                </div>
                                <div class="album-desc col-12 col-md p-3 pl-4">
                                    <div class="row m-0">
                                        <span class="album-title">Feel My Heart Beat (Démo)</span>
                                    </div>
                                    <div class="row m-0">
                                        <span class="album-date">Septembre 2022</span>
                                    </div>
                                    <div class="w-100 border-bottom my-3"></div>
                                    <div class="row m-0">
                                        <span class="album-tracklist">
                                            1 - The Start of Something Beautiful <br/>
                                            2 - Trauma<br/>
                                            3 - Radiance / Pulse<br/>
                                            4 - The Light (Is Everywhere)<br/>
                                            5 - Feel My Heart Beat<br/>
                                            &emsp;I. We Are One<br/>
                                            &emsp;II. Unrequited Love<br/>
                                            &emsp;III. No Reason <br/>
                                            6 - All Is Bright <br/>
                                            7 - Hole In Me<br/>
                                            8 - My Last Regrets<br/>
                                        </span>
                                    </div>
                                    <div class="row m-0 mt-4 justify-content-center">
                                        <a href="https://ffm.to/zopgpdx" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-md-2"></i> Écouter</a>
                                        <a href="/music/demo" class="btn btn-cart ml-md-3 ml-2" role="button" name="add-cart"><i class="fas fa-search pr-md-2"></i> En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade album-detail" id="quietKidModal" tabindex="-1" role="dialog" aria-labelledby="quietKidLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row m-0">
                                <div class="col-12 col-md p-0">
                                    <img class="d-block w-100" src="/img/quiet_kid/cover.jpg">
                                </div>
                                <div class="album-desc col-12 col-md p-3 pl-4">
                                    <div class="row m-0">
                                        <span class="album-title">Quiet Kid</span>
                                    </div>
                                    <div class="row m-0">
                                        <span class="album-date">Decembre 2021</span>
                                    </div>
                                    <div class="w-100 border-bottom my-3"></div>
                                    <div class="row m-0">
                                        <span class="album-tracklist">
                                            1 - Part Of Me <br/>
                                            2 - Chase The Beast<br/>
                                            3 - Through The Mist<br/>
                                            4 - Stalker<br/>
                                            5 - Quiet Kid<br/>
                                            6 - Love Song<br/>
                                            7 - Conflicted<br/>
                                            8 - A Moment Of Reflection<br/>
                                            9 - Awaken<br/>
                                            10 - Sunset / Unreal<br/>
                                        </span>
                                    </div>
                                    <div class="row m-0 mt-4 justify-content-center">
                                        <a href="https://ffm.to/mxeonqq" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-md-2"></i> Écouter</a>
                                        <a href="/music/quiet_kid" class="btn btn-cart ml-md-3 ml-2" role="button" name="add-cart"><i class="fas fa-search pr-md-2"></i> En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade album-detail" id="lightOutModal" tabindex="-1" role="dialog" aria-labelledby="lightOutLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row m-0">
                                <div class="col-12 col-md p-0">
                                    <img class="d-block w-100" src="/img/another_light_out/cover.jpg">
                                </div>
                                <div class="album-desc col-12 col-md p-3 pl-4">
                                    <div class="row m-0">
                                        <span class="album-title">Another Light Out</span>
                                    </div>
                                    <div class="row m-0">
                                        <span class="album-date">Juin 2021</span>
                                    </div>
                                    <div class="w-100 border-bottom my-3"></div>
                                    <div class="row m-0">
                                        <span class="album-tracklist">
                                            1 - And So It Ends <br/>
                                            2 - Let It Go <br/>
                                            3 - Another Light Out <br/>
                                            4 - Sea Of Life <br/>
                                        </span>
                                    </div>
                                    <div class="row m-0 mt-4">
                                        <a href="https://ffm.to/xbk0vry" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-md-2"></i> Écouter</a>
                                        <a href="/music/another_light_out" class="btn btn-cart ml-md-3 ml-2" role="button" name="add-cart"><i class="fas fa-search pr-md-2"></i> En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade album-detail" id="reachThatLightModal" tabindex="-1" role="dialog" aria-labelledby="reachThatLightLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row m-0">
                                <div class="col-12 col-md p-0">
                                    <img class="d-block w-100" src="/img/reach_that_light/cover.jpg">
                                </div>
                                <div class="album-desc col-12 col-md p-3 pl-4">
                                    <div class="row m-0">
                                        <span class="album-title">Reach That Light</span>
                                    </div>
                                    <div class="row m-0">
                                        <span class="album-date">Janvier 2021</span>
                                    </div>
                                    <div class="w-100 border-bottom my-3"></div>
                                    <div class="row m-0">
                                        <span class="album-tracklist">
                                            1 - Overture (Abyssal) <br/>
                                            2 - Uniform <br/>
                                            3 - Perfect Life <br/>
                                            4 - The Rift <br/>
                                            5 - Interlude (Light Beyond) <br/>
                                            6 - Departure <br/>
                                            7 - The Wanderer <br/>
                                            8 - Breathe <br/>
                                            9 - Reminiscence <br/>
                                            10 - Finale (Where It All Ends) <br/>
                                        </span>
                                    </div>
                                    <div class="row m-0 mt-4">
                                        <a href="https://ffm.to/n6nqpmm" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-md-2"></i> Écouter</a>
                                        <a href="/music/reach_that_light" class="btn btn-cart ml-2 ml-md-3" role="button" name="add-cart"><i class="fas fa-search pr-md-2"></i> En savoir plus</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade album-detail" id="wandererModal" tabindex="-1" role="dialog" aria-labelledby="wandererLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <div class="row m-0">
                                <div class="col-12 col-md p-0">
                                    <img class="d-block w-100" src="/img/reach_that_light/cover-wanderer.jpg">
                                </div>
                                <div class="album-desc col-12 col-md p-3 pl-4">
                                    <div class="row m-0">
                                        <span class="album-title">The Wanderer (edit)</span>
                                    </div>
                                    <div class="row m-0">
                                        <span class="album-date">Janvier 2021</span>
                                    </div>
                                    <div class="w-100 border-bottom my-3"></div>
                                    <div class="row m-0">
                                        <span class="album-tracklist">
                                            1 - The Wanderer (edit) <br/>
                                        </span>
                                    </div>
                                    <div class="row m-0 mt-4">
                                        <a href="https://ffm.to/add3wrj" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-md-2"></i> Écouter</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <!-- ==================================== GALERIES ======================================== -->

            <div class="modal fade gallery" id="galleryQKModal" tabindex="-1" role="dialog" aria-labelledby="galleryQKLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                            
                            <div class="row m-0">
                                <div class="carousel-container d-flex">
                                    <div id="carouselGalleryQK" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                        <% for (var i=0; i < gallery_qk.length; i++) { %>
                                            <div class="carousel-item <% if (!i) { %> active <% } %>">
                                                <img class="d-block w-100" src="/img/quiet_kid/<%= gallery_qk[i] %>">
                                            </div>
                                        <% } %>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselGalleryQK" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselGalleryQK" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade gallery" id="galleryALOModal" tabindex="-1" role="dialog" aria-labelledby="galleryALOLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                            
                            <div class="row m-0">
                                <div class="carousel-container d-flex">
                                    <div id="carouselGalleryALO" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                        <% for (var i=0; i < gallery_alo.length; i++) { %>
                                            <div class="carousel-item <% if (!i) { %> active <% } %>">
                                                <img class="d-block w-100" src="/img/another_light_out/<%= gallery_alo[i] %>">
                                            </div>
                                        <% } %>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselGalleryALO" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselGalleryALO" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <script type="text/javascript">

    </script>
</html>