<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">-->
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-music.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Making-Of Reach That Light / Another Light Out - Armel Rouxel</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <div class="background another-light-out"></div>
            <a href="/music/another_light_out" class="link-tab"> < Album</a>
            <div class="header container">

                <div class="row align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <span class="head-title">Making-Of</span>
                        </div> 
                        <div class="row justify-content-center">
                            <span class="head-subtitle text-center">Reach That Light / Another Light Out</span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-0">
                    <div class="col-md-5 p-0">
                        <img class="d-block w-100" src="/img/another_light_out/tracklist.jpg">
                    </div>
                    <div class="col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">Conception des titres</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <span class="album-tracklist col-md-6 p-0">
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="1">1 - Overture (Abyssal)</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="2">2 - Uniform</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="3">3 - Perfect Life</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="4">4 - The Rift</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="5">5 - Interlude (Light Beyond)</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="6">6 - Departure</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="7">7 - The Wanderer</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="8">8 - Breathe</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="9">9 - Reminiscence</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="10">10 - Finale (Where It All Ends)</span>
                            </span>
                            <div class="w-100 border-bottom my-3 d-block d-md-none"></div>
                            <span class="album-tracklist col-md-6 p-0">
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="11">1 - And So It Ends</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="12">2 - Let It Go</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="13">3 - Another Light Out</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="14">4 - Sea Of Life</span><br/>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-md-5 p-0">
                        <div class="row m-0">
                            <span class="title">Materiel utilisé</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <span class="making-of">
                                Ces 2 projets étant les premiers que je faisais, j'ai utilisé tout ce que j'avais à disposition, en plus de la participation de mon frère au chant, à la flûte et au darbuka sur "The Wanderer".
                            </span>
                            <span class="making-of grey w-100 mt-2">
                                · Yamaha SG-700 S (Solo & Mélodies) <br/>
                                · Starfield SJ (Guitare gratte) <br/>
                                · Cort (Son accoustique) <br/>
                                · Shure SM57 (Chant & instruments) <br/>
                                · Flûte & Darbuka <br/>
                                · NI Komplete Kontrol A61 (Clavier) <br/>
                                · Focusrite 2i2 (DAW) <br/>
                            </span>
                            <span class="making-of grey mt-2">
                                · Bias FX 2 (Amplis) <br/>
                                · Spitfire Lab <br/>
                                · NI Komplete <br/>
                                · Ableton 10 Intro <br/>
                            </span>
                        </div>
                    </div>
                    <div class="album-desc col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">Archives</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <span class="making-of">
                                Après la création de Reach That Light, j'avais beaucoup d'idée inachevées et/ou inutilisées, ce qui a donné lieu à la création de Another Light Out. Toutefois, pas mal de ces idées n'ont finalement pas pu être reprise sous leur forme et seul Sea Of Life a vraiment vu le jour. <br/>
                                Voilà quelques pistes alternatives et autres prises durant la composition des projets dont certaines sont evocatives (comme la démo de Overture) et d'autres plus obscures mais dont certaines ont bien un lien avec les musiques finales de l'album. Par exemple Abyssal est une première tentative pour le morceau Uniform (même s'il n'a rien à voir dans la forme) et on y voit ma volonté de connecter Overture et le 2nd morceau. Le duo "Into The Rift" et "And Beyond" sont l'idée initiale de l'album, bien que pas du tout finalisé ni repris. On y voit les deux aspects sombre/puissant puis clair/accoustique voulu pour séparer l'album en 2, la thématique intitiale vient de ces 2 morceaux.
                            </span>
                            <span class="making-of grey mt-2">
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/Overture (demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Overture (demo)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/Abyssal (demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Abyssal (demo)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/(1) Into the Rift.mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">(1) Into the Rift ...</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/(2) ... and Beyond.mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">(2) ... and Beyond</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/Point of No Return.mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Point of No Return</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/Untilted (accapella).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Untilted (accapella)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/idée 1.mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Idée 1</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_rtl/idée 2.mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Idée 2</span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer"></div>

            <div class="modal fade track-detail" id="tracklistModal" tabindex="-1" role="dialog" aria-labelledby="tracklistLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            
                            <div class="row m-0">
                                <div class="carousel-container d-flex">
                                    <div id="carouselTracklist" class="carousel slide" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Overture (Abyssal)</span>
                                                        <span class="mt-3 mr-4"> 1 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Overture est le tout premier morceau que j'ai réalisé pendant l'été 2020 et les début de la genèse du projet. Je me suis basé sur un sample de sonar ainsi que divers cris de baleine pour créer les effets sonore, le but étant de créer une ambience lourde et pesante qui amorce bien l'album.
                                                        </p>
                                                        <p>
                                                            Son 2e nom "Abyssal" (en plus d'évoquer les samples de baleine) vient de l'ancienne structure que j'avais de l'album avec un première partie évoquant les profondeurs puis une 2e partie évoquant un retour à la surface (sens toujours gardé mais sous une autre forme).
                                                        </p>
                                                        <p>
                                                            Le morceau est beaucoup inspiré de "Seamless" (Archive) notamment pour le sample de sonar qui suit tout le long du morceau. Peut aussi rappeller "Echoes" (Pink Floyd).
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Uniform</span>
                                                        <span class="mt-3 mr-4"> 2 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Uniform a bizarrement été le dernier morceau réalisé de l'album et un des plus compliqué à composer, beaucoup de mes demo archives viennent des test pour créer ce morceau.<br/>
                                                            Là aussi une volonté d'amorcer l'album avec un son plutôt percutant qui fasse bien rentrer l'auditeur dans l'ambience de l'album. Le morceau devait initialement être un peu plus long avec une partie de sample radio après le premier refrain. Il devait aussi s'enchainer de manière fluide avec Overture mais ça a été changé pour pas que ça dénature l'un des deux morceaux.
                                                        </p>
                                                        <p>
                                                            Lyriquement, c'est ce morceau qui pose les bases de la thématique, de l'univers dystopique dans lequel vis le personnage. Toutefois il a été assez compliqué pour moi a chanter (à la limite de ma tessiture vocale ...).
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Perfect Life</span>
                                                        <span class="mt-3 mr-4"> 3 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Ce morceau avait à l'origine été composé bien avant la conception de l'album et n'était pas vraiment prévu dessus. Il a été ajouté ensuite pour garnir un peu plus la tracklist.<br>
                                                            Le son de synthé vers la fin du morceau n'était pas non plus prévue initialement sur ce morceau, il n'a été rajouté que sur la fin et donne à mon sens tout le cachet de la 2e partie.
                                                        </p>
                                                        <p>
                                                            C'est personellement un de mes morceaux préférés, vraiment kiffant à jouer, que ce soit la ligne de basse ou des guitares. L'arpège du début du morceau a d'ailleurs été capturé sur une enceinte avant que je trouve d'autre techniques d'enregistrement plus efficace.
                                                        </p>
                                                        <p>
                                                            Les paroles peuvent sembler assez flous, mais elles parlent d'un famille/groupe gardant leur enfants emprisonné dans leur cercle, les gardant éloigné du monde exterieur et les endoctrinant.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">The Rift</span>
                                                        <span class="mt-3 mr-4"> 4 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            The Rift était censé être à l'origine le morceau central de l'album ("Into The Rift" étant l'ancien nom de l'album) mais c'est peut-être un de ceux dont je suis le moins fier, je ne sais pas. Le refrain me semble pas assez satisfaisant.<br/>
                                                            Les samples radio de la fin du morceau n'ont aucune signification particulière et ne sont qu'une suite de nombre au hasard.
                                                        </p>
                                                        <p>
                                                            Les paroles évoque une tentative d'évasion de cet univers dystopique du personnage principal et marque la rupture entre les 2 parties de l'album.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Interlude (Light Beyond)</span>
                                                        <span class="mt-3 mr-4"> 5 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Avec Overture c'est également l'un des premiers morceaux créé pour l'album (oui j'ai fait les transitions avant les musiques ...). Le son y est très calme et planant et fait office de transition douce, avec Departure, entre les differentes parties de l'album.
                                                        </p>
                                                        <p>
                                                            Le son de clavier a été fait à partir du tintement d'un accordeur accoustique, modifié ensuite sur ordinateur. L'ambience atmospherique a été inspiré par la musique du menu de creation de personnage du jeu "Demon's Souls"
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Departure</span>
                                                        <span class="mt-3 mr-4"> 6 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Le premier morceau de la 2e partie, avec un son à l'opposé de la première: aucun clavier, uniquement accoustique et beaucoup moins pesant.
                                                        </p>
                                                        <p>
                                                            Departure est en fait simplement l'intro de The Wanderer et n'a été séparé de lui uniquement car cela rendait son écoute plus agréable (et Wanderer moins long)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">The Wanderer</span>
                                                        <span class="mt-3 mr-4"> 7 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Mon morceau préféré de l'album avec Perfect Life, vraiment très fun à jouer. Toutefois ça a été également l'un des plus longs à enregistrer du fait d'une part de sa longueur mais surtout de la difficulté de trouver le bons mélange entre les differents couches musicales.<br/>
                                                            Il a été enregistré avec l'aide de mon frère au chant, flûte et Darbuka (percussion). La guitare accoustique est dans un accordage spécial en Si à vide, ce qui permet de jouer de gros accords avec des corde bourdons ainsi que des arpèges assez singuliers (comme celui de l'outro).
                                                        </p>
                                                        <p>
                                                            Mis à part Overture et Interlude, c'est le premier morceau dont j'ai eu l'idée, bien que ça soit l'un des dernier finit lors de la finalisation de l'album.<br/>
                                                            Les paroles n'ont pas vraiment de sens specifique, elles évoquent simplement le voyage, le détachement etc.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Breathe</span>
                                                        <span class="mt-3 mr-4"> 8 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Tout commme Perfect Life, Breathe avait été composé bien avant la conception de l'album et n'avait simplement jamais été encore proprement enregistré. Il est issu d'une volonté de faire des morceaux bien plus simple, court et facile à écouter que ceux que j'avais composé jusqu'alors (après And You And I).
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Reminiscence</span>
                                                        <span class="mt-3 mr-4"> 9 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Morceau de clôture de l'album, je voulais en faire un morceau avec de gros choeurs de voix, beaucoup inspiré par "Taste Of Blood" (Archive) au niveau de la structure.
                                                        </p>
                                                        <p>
                                                            Il conclue l'histoire du personnage en evoquant ses souvenirs, echecs, réussites etc. C'est un mémoire de ce qu'il s'est passé.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Finale (Where It All Ends)</span>
                                                        <span class="mt-3 mr-4"> 10 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Et voilà le rideau de fin, reprenant le thème de Reminiscence tout en rappellant le début de l'album avec cet echo du sonar de Overture, cela forme un tout, le serpent qui se mord la queue.
                                                        </p>
                                                        <p>
                                                            Le sample radio utilisé est celui d'une quelconque transmission d'une mission apollo, sûrement un message des coordonées je ne sais pas. Elle n'a pas de signification particulière.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">And So It Ends</span>
                                                        <span class="mt-3 mr-4"> 1 / 4</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            And So It Ends reprend la thématique laissé par Finale. Je voulais créer un véritable morceau dans la même ambience que Overture sans que ce soit unr simple transition, quelque chose qui se suffit à lui même.
                                                        </p>
                                                        <p>
                                                            L'idée du sample de voix en echo qui reste en fond et revient de temps en temps était une des idées que je n'avais pas réussi à utiliser pour Finale à l'époque.<br/>
                                                            Entre RTL et cet EP, j'ai eu accès à un peu plus de materiel musical que ce soit en son ou accessoire et j'ai pu les utiliser sur ce projet.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Let It Go</span>
                                                        <span class="mt-3 mr-4"> 2 / 4</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            À l'origine, Let It Go devait être la 2e partie d'un autre morceau (aujourd'hui "Sell Your Soul" sur Quiet Kid) que j'ai finalement mis de coté pour des difficultés d'enregistrement.
                                                            Toute l'idée du morceau vient du vers "The silence is another way" de "I Drive The Hearse" (Porcupine Tree).
                                                        </p>
                                                        <p>
                                                            Thématiquement, on peut voir cette musique (et l'EP de manière général) comme faisant suite à l'histoire de l'album principal: le personnage est fatigué de lutter envers et contre tout et finit par se laisser aller, suivre le courant sans plus se poser de questions.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Another Light Out</span>
                                                        <span class="mt-3 mr-4"> 3 / 4</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Titre éponyme de l'EP, les paroles elles-même n'ont toutefois pas vraiment de sens et sont assez abstraites. Je les ai surtout écrites parcequ'elles sonnaient bien (mais ça aucun compositeur ne l'avouera jamais ...).<br/>
                                                            D'ailleurs, parceque je compose majoritairement mes musiques d'abord de manière accoustique à la guitare, le morceau final sonne bien differement de ce que j'avais imaginé, bien plus psychedelique mais ça rend très bien !
                                                        </p>
                                                        <p>
                                                            Le solo, comme la majorité des solos que je fais sur mes morceaux sont à l'origine de simples improvisations que je corrige et agrémente un peu, mais rien n'est vraiment couché sur papier. A chaque fois que je reprends un de mes anciens morceaux, je suis obligé de réécouter le morceau pour me rappeler du solo ou des differentes parties.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Sea of Life</span>
                                                        <span class="mt-3 mr-4"> 4 / 4</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Le seul vrai morceau que l'on peut qualifier de B-side, que j'ai du retirer de l'album car il faisait doublon avec Reminiscence.  Mais il n'était de toute façon pas tout à fait fini à l'époque et n'avait pas encore de paroles.
                                                        </p>
                                                        <p>
                                                            Sea of Life est un morceau très epuré instrumentalement et très simple, beaucoup inspiré par "Driving Like Maniac" (Pineapple Thief)
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselTracklist" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselTracklist" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <script type="text/javascript">
        // On gère les carousels
        $('span[data-target="#tracklistModal"]').on('click', function (data) {
            $(`#carouselTracklist .carousel-item`).removeClass('active');
            let i = parseInt($(data.currentTarget).attr('data-i'));
            $(`#carouselTracklist .carousel-item:nth-child(${i})`).addClass('active');
        })
    </script>
</html>