<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">-->
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-music.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Making-Of Quiet Kid - Armel Rouxel</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <div class="background quiet-kid"></div>
            <a href="/music/quiet_kid" class="link-tab"> < Album</a>
            <div class="header container">
                <div class="row align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <span class="head-title">Making-Of</span>
                        </div> 
                        <div class="row justify-content-center">
                            <span class="head-subtitle">Album Quiet Kid</span>
                        </div> 
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-0">
                    <div class="col-md-5 p-0">
                        <img class="d-block w-100" src="/img/quiet_kid/tracklist.jpg">
                    </div>
                    <div class="col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">Conception des titres</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <span class="album-tracklist">
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="1">1 - Part Of Me</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="2">2 - Chase The Beast</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="3">3 - Through The Mist</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="4">4 - Stalker</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="5">5 - Quiet Kid</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="6">6 - Love Song</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="7">7 - Conflicted</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="8">8 - A Moment Of Reflection</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="9">9 - Awaken</span><br/>
                                <span data-toggle="modal" data-target="#tracklistModal" data-i="10">10 - Sunset / Unreal</span><br/>
                                <span class="pt-2" data-toggle="modal" data-target="#tracklistModal" data-i="11">Bonus - Sell Your Soul</span><br/>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-md-5 p-0">
                        <div class="row m-0">
                            <span class="title">Materiel utilisé</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <span class="making-of">
                                Bien que cet album soit moins varié dans le son et plus orienté rock que mes autres compositions, j'ai tout de même tenté d'experimenter d'autres sons comme l'harmonica ou simplement des techniques d'enregistrement comme le dual track (utilisé extensivement ici pour les harmonies et les guitares rythmiques).
                            </span>
                            <span class="making-of grey mt-2">
                                · Gibson SG "Tribute" (Solo & Mélodies) <br/>
                                · Starfield SJ (Guitare gratte) <br/>
                                · Cort (Son accoustique) <br/>
                                · Shure SM57 (Chant et instruments) <br/>
                                · Hohner Special 20 C (Harmonica) <br/>
                                · NI Komplete Kontrol A61 (Clavier) <br/>
                                · Focusrite 2i2 (DAW) <br/>
                            </span>
                            <span class="making-of grey mt-2">
                                · Bias FX 2 (Amplis) <br/>
                                · Spitfire Lab <br/>
                                · NI Komplete <br/>
                                · Ableton 10 Intro <br/>
                            </span>
                        </div>
                    </div>
                    <div class="album-desc col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">Archives</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <span class="making-of">
                                Contrairement à RTL et ALO, sur ce projet la seule musique qui a été mise de coté est "Sell Your Soul" que vous pouvez écouter ci-dessus, et dont une première version d'essai est "The Union", qui en mélange la musique avec des paroles d'un autre morceau que je réserve pour un futur projet :)<br/>
                                Les seuls autres archives que j'ai sont des version démo de certains morceaux (les autres n'ayant pas vraiment changé plus que ça sur la version finale):
                            </span>
                            <span class="making-of grey mt-2">
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_qk/The Union.mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">The Union</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_qk/part_of_me_(demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Part of Me (demo)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_qk/give_me_your_heart_(demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Give Me Your Heart (demo)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_qk/through_the_mist_(demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Through the Mist (demo)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_qk/unveil_(demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Unveil (demo)</span>
                                </div>
                                <div class="audio-embed mb-2">
                                    <audio controls src="/audio/archives_qk/awaken_(demo).mp3">
                                        Your browser does not support the <code>audio</code> element.
                                    </audio>
                                    <span class="ml-2">Awaken (demo)</span>
                                </div>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer"></div>

            <div class="modal fade track-detail" id="tracklistModal" tabindex="-1" role="dialog" aria-labelledby="tracklistLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            
                            <div class="row m-0">
                                <div class="carousel-container d-flex">
                                    <div id="carouselTracklist" class="carousel slide" data-ride="carousel" data-interval="false">
                                        <div class="carousel-inner">
                                            <div class="carousel-item active">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title"> Part of Me</span>
                                                        <span class="mt-3 mr-4"> 1 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Le riff initial était une idée que j'avais eu bien avant la sortie de "Reach That Light", mais je l'avais gardé de côté n'ayant pas vraiment eu l'occasion de l'utiliser jusque là. <br/>L'ambience voulu du morceau est à la fois un mix entre "Wedding Nails" (Porcupine Tree) pour le riff et "Citizen Erased" (Muse) pour la structure principale.
                                                        </p>
                                                        <p>
                                                            Les paroles traitent du dédoublement de personnalité, ou plutôt de l'alter ego refoulé par le personnage principal. Ça peut également être vu comme une simple introspection de soi même
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Chase the Beast</span>
                                                        <span class="mt-3 mr-4"> 2 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Je voulais faire de ce morceau quelque chose de bien plus puissant, presque métal sous certains aspects. Toute l'idée du morceau est vraiment parti du riff tapping initial du début.
                                                        </p>
                                                        <p>
                                                            Les paroles sont assez abstraites mais parlent globalement d'un traumatisme d'enfance quel qu'il soit et du ressentiment que le personnage porte sur celui/celle qui lui a infligé ça. Il ne sait pas s'il veut vraiment se souvenir de ce souvenir douleureux.<br/>
                                                            D'ailleurs le morceau devait initialement s'appeler "Do I Wanna Know ?" mais étant donné qu'un titre déjà bien connu s'appelle comme ça ...
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Through the Mist</span>
                                                        <span class="mt-3 mr-4"> 3 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Through the Mist a été le premier morceau à avoir été composé après avoir repris le projet initial. À l'origine, il n'y avait aucun clavier en fond et seulement porté par la guitare accoustique, mais j'ai fini par l'ajouter jugeant que cela lui donnait plus de profondeur et s'accordait bien à l'atmosphère voulu. Cela lui donne cette texture sonore assez unique sur l'album, bien plus proche de la musique que je suis habitué à faire.
                                                        </p>
                                                        <p>
                                                            La rythmique peu usuelle en 7/4 (avec refrain en 4/4) permet de réaliser des schemas rythmiques plutôt interessant, mais le chant a été de facto plus compliqué à mettre en place.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Stalker</span>
                                                        <span class="mt-3 mr-4"> 4 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Comme son nom l'indique, cette musique parle d'une personne totalement obsedé par une fille (ou un garçon ?), suivant ses moindres faits et gestes et finissant par vraiment croire à ses fantasmes.<br/>
                                                            À première écoute, les paroles pourraient traiter d'une simple chanson d'amour, mais au fur et à mesure on se rend compte que l'histoire est bien plus glauque et le refrain prend une toute autre tournure.
                                                        </p>
                                                        <p>
                                                            Stalker est en fait la toute première musique que j'ai composée pour l'album et résume bien la thématique globale de l'album. Toutefois j'ai longtemps été peu satisfait du refrain et ai considéré ne pas la mettre sur l'album.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Quiet Kid (Burn It All)</span>
                                                        <span class="mt-3 mr-4"> 5 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Quiet Kid a vraiment été le nom qui a marqué la genèse du projet: je voulais absolument un EP/Album s'appelant comme tel et avec forcément une musique éponyme parlant de l'enfant isolé, reclu et rejeté par les autres, étant qualifié de "bizarre" et different.
                                                        </p>
                                                        <p>
                                                            Ça a été la deuxième musique composée pour l'album et je trouve personnellement le contraste entre la mélodie et les paroles plutôt interessant.
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Love Song</span>
                                                        <span class="mt-3 mr-4"> 6 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Titre bien sûr ironique pour une musique pessimiste sur la vie. Je voulais en faire une simple balade classique mais avec des paroles à l'opposé de ce qu'on pourrait en attendre. Toutefois les paroles ne sont pas si sombre au final, elle encourage peut-être plus à l'estime de soi, à l'auto satisfaction.
                                                        </p>
                                                        <p>
                                                            La section instrumental à l'harmonica a été une première pour moi, n'en ayant evidemment jamais joué de ma vie. La performance est donc à la hauteur du temps que j'ai passé à en faire, mais ça a été une experience plutôt interessante à faire !
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Conflicted</span>
                                                        <span class="mt-3 mr-4"> 7 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Principalement inspiré par "Fuck U" (Archive), je voulais en faire un morceau assez puissant basé sur une structure très simple. La mise en place progressive de chaque instrument donne le dynamisme recherché du morceau. C'est aussi l'un des seul morceau de l'album où on peut entendre du piano, que j'ai ajouté pour eclaircir le son sinon chargé en guitare du morceau.
                                                        </p>
                                                        <p>
                                                            Les paroles traitent d'une sorte d'aveuglement relationnel, une relation toxique mais dont il/elle ne peut pas s'empecher d'aimer malgré tout. Je vous rassure cela n'a rien d'autobiographique !
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">A Moment of Reflection</span>
                                                        <span class="mt-3 mr-4"> 8 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Transition instrumental fortement inspiré par "Interlude" (Muse), ce morceau ne devait à l'origine être composé que d'une seule guitare mais j'ai fini par y ajouter des violons et percussions pour lui donner plus d'identité et de profondeur.<br/>
                                                            Il sert principalement de lien entre "Conflicted" et "Awaken".
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Awaken</span>
                                                        <span class="mt-3 mr-4"> 9 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Awaken est à l'origine tiré d'un autre projet que j'ai abandoné (mais pas oublié !). Il devait également être plus long sur le papier, mais même si le resultat est assez different de ce que j'avais envisagé à la base, je suis tout de même très content du résultat, notamment la partie à l'harmonica qui rend très bien !
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Sunset / Unreal</span>
                                                        <span class="mt-3 mr-4"> 10 / 10</span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Morceau de clôture de l'album, l'ambience y est bien plus calme et radieuse que sur le reste des musiques, comme pour montrer l'évolution de la mentalité du personnage, même s'il n'y a pas réellement d'histoire raconté tout au long de l'album.
                                                        </p>
                                                        <p>
                                                            Sunset / Unreal reste un de mes morceaux préférés je pense, je dois mieux me débrouiller sur les morceaux calmes et épurés
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="carousel-item">
                                                <div class="album-desc p-3 pl-4 col">
                                                    <div class="justify-content-between row m-0">
                                                        <span class="album-title">Sell Your Soul</span>
                                                        <span class="mt-3 mr-4"> Bonus </span>
                                                    </div>
                                                    <div class="w-100 border-bottom my-3"></div>
                                                    <div class="album-tracklist row m-0 pt-2">
                                                        <p>
                                                            Dernière musique composée après que la démo ai été faite. À l'origine issu du morceau annulé devant précéder "Let It Go" sur l'EP "Another Light Out", j'en ai repris les idées principales pour les restructurer et en faire une sorte de "The Wanderer" plus concis et plus rock.<br/>
                                                            Toutefois, je ne suis pas vraiment satisfait du mixage et je trouve qu'elle faisait tache dans la tracklist du morceau (à l'origine situé entre Love Song et Conflicted), donc je l'ai enlevé de l'album.
                                                        </p>
                                                        <p>
                                                            Les paroles sont honnêtement très abstraite et moi même je ne sais pas vraiment de quoi elles parlent exactement: à vous d'en trouver un sens !
                                                        </p>
                                                    </div>
                                                </div>
                                                <audio controls src="/audio/archives_qk/sell_your_soul.mp3" style="margin: auto;display: block;">
                                                        Your browser does not support the
                                                        <code>audio</code> element.
                                                </audio>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <a class="carousel-control-prev" href="#carouselTracklist" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselTracklist" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <script type="text/javascript">
        // On gère les carousels
        $('span[data-target="#tracklistModal"]').on('click', function (data) {
            $(`#carouselTracklist .carousel-item`).removeClass('active');
            let i = parseInt($(data.currentTarget).attr('data-i'));
            $(`#carouselTracklist .carousel-item:nth-child(${i})`).addClass('active');
        })
    </script>
</html>