<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <!-- favicon -->
        <!--<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
        <link rel="manifest" href="/favicon/site.webmanifest">-->
        
        <!-- Import CSS Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <!-- Import custom CSS -->
        <link rel="stylesheet" type="text/css" href="/css/style-music.css">
        <link rel="stylesheet" type="text/css" href="/css/style-navbar.css">

        <title>Reach That Light - Armel Rouxel</title>
    </head>
 
    <body>
        <header>
        </header>
        <main>
            <div class="background reach-that-light"></div>
            <a href="/music" class="link-tab"> < Page principale</a>
            <div class="header container">
                <div class="row align-items-center h-100">
                    <div class="container">
                        <div class="row justify-content-center">
                            <span class="head-title text-center">Reach That Light</span>
                        </div> 
                        <div class="row justify-content-center">
                            <span class="head-subtitle">Janvier 2021</span>
                        </div> 
                        <div class="row justify-content-center mt-4">
                            <a href="https://ffm.to/n6nqpmm" target="_blank" class="btn btn-cart" role="button" name="add-cart"><i class="fas fa-play pr-2"></i> Écouter</a>
                            <a href="/music/makingof_reach_that_light_out" class="btn btn-cart ml-3" role="button" name="add-cart"><i class="fas fa-search pr-2"></i> Making-Of </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row m-0">
                    <div class="col-md-5 p-0">
                        <img class="d-block w-100" src="/img/reach_that_light/cover.jpg">
                    </div>
                    <div class="album-desc col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <span class="title">À propos de Reach That Light ...</span>
                        </div>
                        <div class="album-about row m-0 pt-2">
                            <p>
                                Cet album est mon tout premier vrai projet, n'ayant sorti que des musiques isolées jusqu'à présent. Durant les sessions d'enregistrement, j'ai beaucoup appris en terme de techniques de composition, de prise de son ainsi que de mixage / mastering (j'ai du tout faire moi même !). <br/>
                                Bien que l'idée ai germé vers l'été 2020, c'est vraiment grâce au temps libre alloué par le 2e confinement de 2020 que j'ai pu mettre en pratique tout ce que je voulais faire.
                            </p>
                            <p>
                                Thématiquement, cet album est séparée en 2 parties distinctes ponctuées par des morceaux de transition (Overture, Interlude et Finale): la première partie possède une texture sonore bien lourde et oppresante, rendu possible par la combinaison du son de la guitare électrique et des grosses nappes de clavier, et suis un personnage plongé dans une société assez distopique qui veut progressivement s'emanciper.<br/>
                                La deuxième partie quant à elle voit le personnage émerger complètement de ce cocon oppressant. La texture sonore est de ce fait bien plus légère (grâce à la guitare accoustique) et vivante. 
                        </div>
                    </div>
                </div>
                <div class="row m-0 mt-4">
                    <div class="col-md-5 p-0">
                        <div class="row m-0">
                            <span class="title">Écouter l'album</span>
                        </div>
                        <div class="row m-0 pt-2">
                            <iframe src="https://open.spotify.com/embed/album/5e6T5rzC5VTlCUPZlnvFNf?utm_source=generator" width="100%" height="390" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
                        </div>
                    </div>
                    <div class="album-desc col-md-7 pl-md-5 p-0 mt-4 mt-md-0">
                        <div class="row m-0">
                            <div class="col">
                                <div class="row m-0">
                                    <span class="title">Photos</span>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0">
                            <div class="gallery col p-0">
                                <div class="row m-0">
                                    <% for (var i=0; i < gallery.length; i++) { %>
                                        <div class="col-4 p-2" data-toggle="modal" data-target="#galleryModal" data-i="<%= i %>">
                                            <img class="d-block w-100" src="/img/reach_that_light/<%= gallery[i] %>">
                                        </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container mt-4">
            </div>

            <!-- ==================================== MODAL =================================== -->

            <div class="modal fade gallery" id="galleryModal" tabindex="-1" role="dialog" aria-labelledby="galleryLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="col modal-body" style="text-transform:none; font-weight: 500;">
                            <!--<button type="button" class="close" data-dismiss="modal" aria-label="Close" style="position: absolute;right: 15px;top: 10px;z-index: 1;">
                                <span aria-hidden="true">&times;</span>
                            </button>-->
                            
                            <div class="row m-0">
                                <div class="carousel-container d-flex">
                                    <div id="carouselGallery" class="carousel slide" data-ride="carousel">
                                        <div class="carousel-inner">
                                        <% for (var i=0; i < gallery.length; i++) { %>
                                            <div class="carousel-item <% if (!i) { %> active <% } %>">
                                                <img class="d-block w-100" src="/img/reach_that_light/<%= gallery[i] %>">
                                            </div>
                                        <% } %>
                                        </div>
                                        <a class="carousel-control-prev" href="#carouselGallery" role="button" data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carouselGallery" role="button" data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </body>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Import Font Awesome -->
    <script src="https://kit.fontawesome.com/5f21f19d3f.js"></script>

    <script type="text/javascript">
        // On gère les carousels
        $('div[data-target="#galleryModal"]').on('click', function (data) {
            $(`#carouselGallery .carousel-item`).removeClass('active');
            let i = parseInt($(data.currentTarget).attr('data-i'));
            console.log(`#carouselGallery .carousel-item:nth-child(${i+1})`);
            $(`#carouselGallery .carousel-item:nth-child(${i+1})`).addClass('active');
        })
    </script>
</html>